<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.ProductStateMapper">

	<resultMap type="ProductProductionProcessStatus"  id="getProductStateList">
		<result property="requestedProductCode" column="requested_product_code"/>
		<result property="processStatus" column="process_status"/>
		<result property="processStartDate" column="process_start_date"/>
		<result property="completedProductUpdateDate" column="completed_product_update_date"/>
		<result property="productionProcessCode" column="production_process_code"/>
		<association property="productionProcessList"  javaType="ProductionProcessList">
			<id property="productionProcessCode" column="production_process_code"/>
			<result property="processOrderNum" column="process_order_num"/>
			<result property="productionProcessHighClassification" column="production_process_high_classification"/>
			<result property="productionProcessLowClassification" column="production_process_low_classification"/>
		</association>
		<association property="requestedProduct"  javaType="RequestedProduct">
			<id property="requestedProductCode" column="requested_product_code"/>
			<result property="requestedDueDate" column="requested_due_date"/>
		</association>
	</resultMap>
	
	<select id = "getProductState" resultType="map" fetchSize="1000">
		SELECT
				 ps.requested_product_code  								AS productCode
				,MAX(pl.process_order_num)  							AS orderNum
				,MAX(ps.process_status)     								AS pStatus
				,MIN(ps.process_start_date) 							AS pStartDate
				,MAX(ps.completed_product_update_date)		AS pEndDate
				,rp.requested_due_date										AS dueDate
				,( SELECT 
						ppl.production_process_low_classification 
				   FROM
						production_process_list AS ppl
				   WHERE  
						ppl.production_process_code = MAX(ps.production_process_code) ) AS lowClass
		FROM
			product_production_process_status AS ps
			INNER JOIN 
			production_process_list AS pl
			ON 
			ps.production_process_code = pl.production_process_code
			INNER join
			requested_product_detail AS rp
			on
			ps.requested_product_code = rp.requested_product_code
		GROUP BY ps.requested_product_code;
	</select>
	
	<select id = "searchProductState" resultType="map" fetchSize="1000">
		SELECT
			 ps.requested_product_code							AS rpCode
			,pl.process_order_num								AS orderNum
			,ps.process_status									AS pStatus
			,ps.process_start_date								AS pStartDate
			,ps.completed_product_update_date				AS pEndDate
			,pl.production_process_high_classification   AS phighClassification
			,pl.production_process_low_classification		AS plowClassification

		FROM
			product_production_process_status AS ps
			INNER JOIN 
			production_process_list AS pl
			ON 
			ps.production_process_code = pl.production_process_code
			WHERE ps.requested_product_code = #{requestedProductCode};
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue} ,'%');
			</if>
		</trim>
		
		
	</select>
</mapper>