<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.ProductionStatusMapper">
<resultMap type="ProductProductionProcessStatus"  id="getProductionStatusInfo">
	<result  property="productProductionProcessStatusCode" 				column="product_production_process_status_code"/>
	<result  property="productionProcessCode" 				column="production_process_code"/>
	<result  property="requestedProductCode" 				column="requested_product_code"/>
	<result  property="processStartDate" 			column="process_start_date"/>
	<result  property="completedProductUpdateDate" 			column="completed_product_update_date"/>
	<result  property="processStatus" 				column="process_status"/>
	<result  property="productionProcessStatusRegDate" 				column="production_process_status_reg_date"/>
	<result  property="productionProcessStatusUpdateDate" 				column="production_process_status_update_date"/>
	<association property="requestedProduct"  javaType="RequestedProduct">
		<id property="requestedProductCode"  column="requested_product_code"/>	 <!-- join 공통 -->
		<result property="requestedDueDate" column="requested_due_date"/>
		<result property="contractCode" column="contract_code"/>
	</association>
	<association property="workOrder"  javaType="WorkOrder">
		<id property="requestedProductCode"  column="requested_product_code"/>	 <!-- join 공통 -->
		<result property="workOrderCode" column="work_order_code"/>
	</association>
	<association property="client"  javaType="Client">
		<id property="clientCode"  column="client_code"/>	 <!-- join 공통 -->
		<result property="clientName" column="client_name"/>
	</association>
</resultMap>


		<select id="getProductionStatus" resultType="map" fetchSize="1000">
		SELECT
			p.requested_product_code						AS productCode
			,p.process_start_date							AS pStartDate
			,p.process_status									AS processStatus
			,p.completed_product_update_date				AS pEndDate
			,r.contract_code									AS contractCode
			,r.requested_due_date							AS dueDate
			,w.work_order_code								AS workOrderCode
			,c.client_name										AS cName
		FROM
			product_production_process_status as p
			JOIN
			requested_product_detail as r
			on
			p.requested_product_code = r.requested_product_code
			JOIN
			work_order AS w
			on
			p.requested_product_code = w.requested_product_code
			JOIN 
			client_info AS c
			on
			r.client_code = c.client_code
		GROUP BY r.requested_product_code;
	</select>
	
</mapper>