<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.ContractMapper">
<resultMap type="ProductionStatus"  id="getProductionStatusInfo">
	<result  property="productProductionProcessStatusCode" 				column="product_production_process_status_code"/>
	<result  property="productionProcessCode" 				column="production_process_code"/>
	<result  property="requestedProductCode" 				column="requested_product_code"/>
	<result  property="processStartDate" 			column="process_start_date"/>
	<result  property="completedProductUpdateDate" 			column="completed_product_update_date"/>
	<result  property="processStatus" 				column="process_status"/>
	<result  property="productionProcessStatusRegDate" 				column="production_process_status_reg_date"/>
	<result  property="productionProcessStatusUpdateDate" 				column="production_process_status_update_date"/>
	<association property="requestedProductCode"  javaType="RequestedProduct">
		<id property="requestedProductCode"  column="requested_product_code"/>	 <!-- join 공통 -->
		<result property="requestedDueDate" column="requested_due_date"/>
		<result property="contractCode" column="contract_code"/>
	</association>
	
</resultMap>
</mapper>