<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.QualityControlMapper">

	<resultMap type="QualityInspection" id="qualityInspectiontMap">
		<result  property="qualityInspectionCode" 				column="quality_inspection_code"/>
		<result  property="highClassificationCode" 				column="high_classification_code"/>
		<result  property="highClassificationName" 				column="high_classification_name1"/>
		<result  property="mediumClassificationCode" 			column="medium_classification_code"/>
		<result  property="mediumClassificationName" 			column="medium_classification_name1"/>
		<result  property="lowClassificationCode" 				column="low_classification_code"/>
		<result  property="lowClassificationName" 				column="low_classification_name1"/>
		<result  property="subClassificationCode" 				column="sub_classification_code"/>
		<result  property="subClassificationName" 				column="sub_classification_name1"/>
		<result  property="quality_inspection_reg_date" 		column="qualityInspectionRegDate"/>
		<result  property="quality_inspection_update_date" 		column="qualityInspectionUpdateDate"/>
	</resultMap>
	
	<!--[보람]품질검사리스트조회메서드  -->
	<select id="getQualityInspectionList"  resultType="QualityInspection">
		SELECT 
			quality_inspection_code				AS	 qualityInspectionCode
			, high_classification_code			AS	 highClassificationCode
			, high_classification_name1			AS	 highClassificationName
			, medium_classification_code		AS	 mediumClassificationCode
			, medium_classification_name1		AS	 mediumClassificationName
			, low_classification_code			AS	 lowClassificationCode
			, low_classification_name1			AS	 lowClassificationName
			, sub_classification_code			AS	 subClassificationCode
			, sub_classification_name1			AS	subClassificationName
			, quality_inspection_reg_date		AS qualityInspectionRegDate
			, quality_inspection_update_date    AS qualityInspectionUpdateDate
		FROM 
			quality_inspection_list;
	</select>
	
	<!-- [민아]품질검사 기준표 조회  -->
	<select id="getInspectionStandard" parameterType="String" resultType="map">
		 SELECT 
			istand.quality_inspection_code		AS inspectionCode,
			classNames.subClassName				AS subClassName,
			classNames.lowClassName				AS lowClassName,
			classNames.medClassName				AS medClassName,
			classNames.highClassName			AS highClassName,
			istand.category						AS inspectionCate,
			istand.min_value					AS minVal,
			istand.max_value					AS maxVal,
			istand.standard_measurement_unit	AS unit, 
			istand.method						AS method, 
			istand.standard_tolerance			AS standardTol, 
			istand.required_inspection_check	AS requiredCheck, 
			istand.inspection_standard_reg_date	AS regDate
		FROM 
			inspection_standard AS istand
			inner join
			(select
				subClass.sub_class_name AS subClassName,
				lowClass.low_class_name AS lowClassName,
				medClass.med_class_name AS medClassName,
				highClass.high_class_name AS highClassName,
				subClass.quality_inspection_code AS subCode
			 from
				sub_class_inspection_list AS subClass
				INNER join
				low_class_inspection_list AS lowClass
				on
				subClass.high_med_low_class_code = lowClass.high_med_low_class_code
				INNER join
				medium_class_inspection_list AS medClass
				on
				subClass.high_med_class_code = medClass.high_med_class_code
				INNER join
				high_class_inspection_list AS highClass
				on
				subClass.high_class_code = highClass.high_class_code) AS classNames
		on 
		classNames.subCode = istand.quality_inspection_code
		where
			istand.category = #{inspectionCate};
	</select>
	
	<select id="getSubClassName" parameterType="String" resultType="map">
		SELECT
			 s.quality_inspection_code AS subClassCode,
			 s.sub_class_name AS subClassName
		FROM
			low_class_inspection_list AS l
		INNER JOIN
			sub_class_inspection_list AS s
		ON l.high_med_low_class_code =s.high_med_low_class_code
		WHERE s.high_med_low_class_code = #{lowClassCateName};
	</select>
	
	
	
	
</mapper>