<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.QualityInsepctionStauteMapper">

<select id="getStateBuyerContractQualityInspection" resultType="map">
SELECT
	re.contract_code AS contractCode,
	h.high_class_name AS highClassName,
	l.low_class_name AS lowClassName,
	sl.sub_class_name AS subClassName,
	r.requested_product_code AS requestProductCode,
	r.inspection_request_date AS inspectionRequestDate,
	IFNULL(s.standard_measurement_unit,'없음') AS stanardUnit,
	IFNULL(s.standard_tolerance,'없음') AS standardTolerance,
	i.min_tolerance AS minTolerance,
	i.max_tolerance AS maxTolerance,
	IFNULL(GROUP_CONCAT(if(inspection_measurement_num='1회차', inspection_pass_check, NULL)),'검사중') AS inspection_first,
	IFNULL(GROUP_CONCAT(if(inspection_measurement_num='2회차', inspection_pass_check, NULL)),'검사중') AS inspection_second,
	IFNULL(GROUP_CONCAT(if(inspection_measurement_num='3회차', inspection_pass_check, NULL)),'검사중') AS inspection_third,
	i.inspection_start_date AS inspectionStartDate,
	i.inspection_end_date AS inspectionEndDate,
	f.low_cate_final_pass_check AS finalResult
FROM
		quality_inspection_request AS r
	INNER JOIN
		inspection_result AS i
	ON r.quality_inspection_request_code =i.quality_inspection_request_code
	INNER JOIN
		inspection_final_result AS f
	ON i.quality_inspection_request_code=f.quality_inspection_request_code
	INNER JOIN 
		inspection_standard AS s
	ON s.quality_inspection_code=i.quality_inspection_code
	INNER JOIN
		sub_class_inspection_list AS sl
	ON s.quality_inspection_code= sl.quality_inspection_code
	INNER JOIN
		low_class_inspection_list AS l
	ON sl.high_med_low_class_code =l.high_med_low_class_code
	INNER JOIN
		high_class_inspection_list AS h
	ON l.high_class_code = h.high_class_code
	INNER JOIN
		requested_product_detail AS re
	ON r.requested_product_code = re.requested_product_code
GROUP BY i.quality_inspection_request_code;



</select>


</mapper>