<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.ShipmentMapper">
<!--  -->
<!--출하지시목록  -->
<select id="getShipmentOrderList" resultType="map">
	SELECT
		s.shipment_order_code AS shipmentOrderCode,
		c.client_name AS clientName,
		p.gender_categorized_name AS productName,
		s.shipment_order_date AS shipmentOrderDate,
		s.shipment_order_reg_date AS shipmentRegDate
	FROM
		shipment_order AS s
	INNER JOIN 
		requested_product_detail AS r
	ON s.requested_product_code = r.requested_product_code
	INNER JOIN
		client_info AS c
	ON r.client_code =c.client_code
	INNER JOIN
		product_code_detail AS p
	ON r.product_code =p.product_code
	</select>
<!--  -->
<!-- 송장목록  -->
<select id="getShipmentInvoiceList" resultType="map">
	SELECT
		si.shipment_invoice_code AS invoiceCode,
		si.shipment_order_group_code AS shipmentOrderGroup,
		c.client_name AS clientName,
		re.product_request_code AS requestCode,
		si.courier_company_name AS invoiceClientName,
		re.requested_delivery_address AS reqeustAddress,
		si.shipment_invoice_reg_date AS invoiceRegDate
	FROM
		shipment_invoice AS si
	INNER JOIN
		shipment_order AS sh
	ON si.shipment_order_group_code = sh.shipment_order_group_code
	inner JOIN
		requested_product_detail AS re
	ON sh.requested_product_code= re.requested_product_code
	INNER JOIN
		client_info AS c
	ON si.client_code =c.client_code 
	GROUP by si.shipment_invoice_code;

</select>

</mapper>