<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ksmart39.springboot.dao.SupplierMapper">
<resultMap type="SupplierRequest" id="supplierRequest">
	<result property="rawMeterialOrderCode" column="raw_material_order_code"/>
	<result property="rawMeterialCode" column="raw_material_code"/>
	<result property="clientCode" column="client_code"/>
	<result property="chargeEmployeeCode" column="charge_employee_code"/>
	<result property="supplierContractCode" column="contract_code"/>
	<result property="rawMeterialOrderAmount" column="raw_material_order_amount"/>
	<result property="rawMeterialOrderApproval" column="raw_material_order_approval"/>
	<result property="rawMeterialOrderDate" column="raw_material_order_date"/>
	<result property="rawMeterialExpectedDate" column="raw_material_expected_date"/>
	<result property="rawMeterialOrderRegDate" column="raw_material_order_reg_date"/>
	<result property="rawMeterialOrderUpdateDate" column="raw_material_order_update_date"/>
	<association property="rawMaterials" javaType="rawMaterials">
	<result property="rawMaterialName" column="raw_material_name"/>
	<result property="colorCode" column="raw_material_color_code"/>
	<result property="feature" column="raw_material_feature"/>
	<result property="unit" column="raw_material_unit"/>
	</association>
	<association property="humanResources" javaType="humanResources">
	<result property="employeeName" column="employee_name"/>
	</association>
	<association property="client" javaType="client">
	<result property="clientName" column="client_name"/>
	<result property="clientTel" column="client_tel"/>
	<result property="clientEmployee" column="client_employee"/>
	</association>

</resultMap>


<select id="getSupplierRequestInfo" parameterType="String" resultMap="supplierRequest">
SELECT
	ro.raw_material_order_code,
	c.client_name,
	c.client_employee,
	c.client_tel ,	
	ra.raw_material_name ,
	ra.raw_material_color_code,
	ra.raw_material_feature,
	ro.raw_material_order_amount,
	ra.raw_material_unit ,
	ro.raw_material_order_approval,
	ro.raw_material_expected_date ,
	ro.raw_material_order_reg_date
FROM
	raw_material_order AS ro
	INNER JOIN
	raw_material_info as ra
	ON ro.raw_material_code = ra.raw_material_code
	INNER JOIN
	client_info AS c
	ON ro.client_code =c.client_code
WHERE ro.raw_material_order_code =#{rawMaterialOrder}

</select>
	<!-- 다시 수정해야됨 -->
	<insert id="addSupplierRequest" parameterType="map" >
	INSERT INTO 
		raw_material_order
		(raw_material_order_code,
		 raw_material_code,
		 client_code,
		 charge_employee_code, 
		 contract_code,
		 raw_material_order_amount, 
		 raw_material_order_approval, 
		 raw_material_order_date, 
		 raw_material_expected_date, 
		 raw_material_order_reg_date, 
		 raw_material_order_update_date)
	VALUES 
		(sf_RawMeterial_Order(),
		 #{rawMeterialCode},
		 #{supplierClient},
		 #{chargeEmployeeCode}, 
		 NULL, 
		 #{rawMaterialAmount},
		 '승인요청중', 
		 NOW(), 
		 #{rawMaterialOrderExpected},
		 NOW(), 
		 null);
	</insert>
	<select id="getSupplierRequestList" resultType="map">
	SELECT
	ro.raw_material_order_code AS rawMaterialOrder,
	c.client_name AS clientName,
	ra.raw_material_high_classification AS rawMaterialHighClass,
	ra.raw_material_name AS rawMaterialName,
	ra.raw_material_color_code AS rawMaterialColor,
	ro.raw_material_order_amount AS rawMaterialAmount,
	ra.raw_material_unit AS rawMaterialUnit,
	ro.raw_material_expected_date AS rawMaterialDate,
	ro.raw_material_order_reg_date AS rawMaterialRegDate
	FROM
	raw_material_order AS ro
	INNER JOIN
	raw_material_info as ra
	ON ro.raw_material_code = ra.raw_material_code
	INNER JOIN
	client_info AS c
	ON ro.client_code =c.client_code
</select>

	<!-- 원부자재현황 -->
	<select id="getRawInventoryState" resultType="map">
	 SELECT
		r.raw_material_code,
		r.raw_material_name,
		r.raw_material_color_code,
		t.raw_material_transaction_amount,
		r.raw_material_unit,
		t.raw_material_transaction_reg_date
	FROM raw_material_inventory_transaction AS t
	INNER JOIN raw_material_info AS r
	ON t.raw_material_code = r.raw_material_code;
	</select>
	<!-- 발주거래처 정보   -->
<select id="searchSupplierClientCate"  resultType="map">
	SELECT
		c.client_code AS supplierCode,
		c.client_name AS supplierClientName,
		c.client_employee AS supplierClientEmployee,
		c.client_tel AS supplierClientTel,
		r.raw_material_high_classification AS supplierRawMaterialCate
	FROM
		client_info AS c
		INNER JOIN
		raw_material_order AS raw
		ON c.client_code = raw.client_code
		INNER JOIN
		raw_material_info AS r
		ON raw.raw_material_code =r.raw_material_code
		WHERE c.client_name LIKE CONCAT('%',#{client},'%')
	GROUP BY c.client_name
	ORDER BY c.client_code
</select>
	<!--원부자재 정보-->
	<select id="searchRawMaterial" resultType="map">
	SELECT
		c.client_code AS supplierCode,
		c.client_name AS supplierClientName,
		c.client_employee AS supplierClientEmployee,
		c.client_tel AS supplierClientTel,
		r.raw_material_high_classification AS SupplierRawMaterialCate,
		r.raw_material_code AS rawMatrialCode,
		r.raw_material_name AS rawMatrialName,
		r.raw_material_color_code AS rawMatrialColor,
		IFNULL(r.raw_material_feature,'')AS rawMatrialFeature,
		r.raw_material_unit AS rawMaterialUnit
	FROM
	client_info AS c
	INNER JOIN
	raw_material_order AS raw
	ON c.client_code = raw.client_code
	INNER JOIN
	raw_material_info AS r
	ON raw.raw_material_code =r.raw_material_code
WHERE c.client_name=#{supplierName}
ORDER BY r.raw_material_code
	</select>
	<!-- 발주계약 리스트 -->
	<select id="getSupplierContractList" resultType="map">
	SELECT 
		i.contract_code,
		r.raw_material_order_code,
		c.client_name,
		i.contract_start_date,
		i.contract_end_date,
		i.contract_info_reg_date
	FROM 
		contract_info AS i
	INNER JOIN 
		raw_material_order AS r
	ON i.contract_code = r.contract_code
	INNER join
		client_info AS c
	ON r.client_code = c.client_code
	WHERE i.contract_code LIKE '%supplierContract%';
	</select>



</mapper>